.about-wrapper
    .about
        .about-description.about-description_men.wow.fadeInLeft
            h4.about-description__title='Іван'
            p.about-description__text
                | Але щоб ви зрозуміли,
                | звідки виникає це хибне уявлення людей, цуратись насолоди і вихваляти страждання,
                | я розкрию перед вами всю картину і роз’ясню, що саме говорив цей чоловік, який
                | відкрив істину, якого я б назвав зодчим щасливого життя. Дійсно, ніхто не відкидає,
            ul.social-links
                li.social-links__item-wrapper
                    a(href='#').social-links__item
                        i.fab.fa-facebook-f
                li.social-links__item-wrapper
                    a(href='#').social-links__item
                        i.fab.fa-instagram
                li.social-links__item-wrapper
                    a(href='#').social-links__item
                        i.fab.fa-twitter

        .about-image
            img(src='img/about.jpg')
        .about-description.about-description_woomen.wow.fadeInRight
            h4.about-description__title='Оксана'
            p.about-description__text
                | Але щоб ви зрозуміли,
                | звідки виникає це хибне уявлення людей, цуратись насолоди і вихваляти страждання,
                | я розкрию перед вами всю картину і роз’ясню, що саме говорив цей чоловік, який
                | відкрив істину, якого я б назвав зодчим щасливого життя. Дійсно, ніхто не відкидає,
            ul.social-links.social-links_woomen
                li.social-links__item-wrapper
                    a(href='#').social-links__item
                        i.fab.fa-facebook-f
                li.social-links__item-wrapper
                    a(href='#').social-links__item
                        i.fab.fa-instagram
                li.social-links__item-wrapper
                    a(href='#').social-links__item
                        i.fab.fa-twitter