.gallery-wrapper
    .story-title.gallery-title
        h4='Фотогалерея'
    .gallery
        a(data-fancybox="gallery" href="img/libary.jpg").gallery__item
            img(src="img/libary.jpg" alt="")
        a(data-fancybox="gallery" href="img/libary.jpg").gallery__item
            img(src="img/libary2.jpg" alt="")
        a(data-fancybox="gallery" href="img/libary.jpg").gallery__item
            img(src="img/libary.jpg" alt="")
        a(data-fancybox="gallery" href="img/libary.jpg").gallery__item
            img(src="img/libary2.jpg" alt="")
        a(data-fancybox="gallery" href="img/libary.jpg").gallery__item
            img(src="img/libary.jpg" alt="")
        a(data-fancybox="gallery" href="img/libary.jpg").gallery__item
            img(src="img/libary2.jpg" alt="")
        a(data-fancybox="gallery" href="img/libary.jpg").gallery__item
            img(src="img/libary.jpg" alt="")
        a(data-fancybox="gallery" href="img/libary.jpg").gallery__item
            img(src="img/libary2.jpg" alt="")