.gallery-wrapper
    #nanogallery2(data-nanogallery2='{"thumbnailHeight": 400, "thumbnailWidth": 350, "thumbnailHoverEffect2": { name: \'image_rotateZ_0deg_15deg\', duration: 800, durationBack: 500}}' )
        a(href="img/libary.jpg" data-ngThumb = "img/libary.jpg")
            |Berlin 1
        a(href="img/libary2.jpg" data-ngThumb = "img/libary2.jpg")
            | Berlin 1
        a(href="img/libary.jpg" data-ngThumb = "img/libary.jpg")
            | Berlin 1
        a(href="img/libary2.jpg" data-ngThumb = "img/libary2.jpg")
            | Berlin 1
        a(href="img/libary2.jpg" data-ngThumb = "img/libary2.jpg")
            | Berlin 1
        a(href="img/libary.jpg" data-ngThumb = "img/libary.jpg")
            | Berlin 1