.slider-wrapper
    .slides-container
        .slider-item
            .slider-item__image
                img.img-slider(src='img/wedding.jpg')
            .slider-item__text
                h2='Оксана & Іван'
        .slider-item
            .slider-item__image
                img.img-slider(src='img/wedding.jpg')
            .slider-item__text
                h2='Оксана & Іван'
        .slider-item
            .slider-item__image
                img.img-slider(src='img/wedding.jpg')
            .slider-item__text
                h2='Оксана & Іван'
        .slider-item
            .slider-item__image
                img.img-slider(src='img/wedding.jpg')
            .slider-item__text
                h2='Оксана & Іван'