.top-line
    .social-icons
        a(href="https://www.facebook.com/").social-icons__item
            i.fab.fa-facebook
        a(href="https://dribbble.com/").social-icons__item
            i.fas.fa-basketball-ball
        a(href="https://www.instagram.com/tastillery/").social-icons__item
            i.fab.fa-instagram
    .social-info
        .social-info__item
            a(href="tel:+380987668908").phone-number
                i.fas.fa-phone
                span="+38 098 7668 908"
        .social-info__item
            a(href="mailto:petro.golovetsky@gmail.com").email
                i.far.fa-envelope
                span="petro.golovetsky@gmail.com"