doctype html
html
    head
        title site
        meta(charset="UTF-8")
        meta(name="keywords" content="scattered polaroids, image gallery, javascript, random rotation, 3d, backface, flat design")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="theme-color" content="#6a1b9a")
        meta(name="msapplication-navbutton-color" content="#6a1b9a")
        meta(name="apple-mobile-web-app-status-bar-style" content="#6a1b9a")
        meta(name="author" content="Golovetsky Petro")
        link(rel="stylesheet", href="css/main.min.css")
        style.
            body{
                opacity: 1;
                overflow: hidden;
            }
            html{
                background-color: #6a1b9a;
            }
    body
        .page-wrapper
            header
                include includes/slider


        script(type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/superslides/0.6.2/jquery.superslides.min.js")
        script(type="text/javascript" src="js/scripts.min.js")