doctype html
html
    head
        title site
        meta(charset="UTF-8")
        meta(name="keywords" content="")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="theme-color" content="#93bbb4")
        meta(name="msapplication-navbutton-color" content="#93bbb4")
        meta(name="apple-mobile-web-app-status-bar-style" content="#93bbb4")
        meta(name="author" content="CIT Lab")
        link(rel="stylesheet", href="css/main.min.css")
        style.
            body{
                opacity: 1;
                overflow-x: hidden;
            }
            html{
                background-color: #585858;
            }
    body
        .page-wrapper
            header
                include includes/slider
            main
                include includes/timer
                include includes/about
                include includes/line
                include includes/story
                include includes/paralax-image
                include includes/gallery
            footer
                include includes/footer



        script(type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/superslides/0.6.2/jquery.superslides.min.js")
        script(type="text/javascript" src="js/scripts.min.js")